* {
  margin: 0;
}

.justify-content {
justify-content: space-between;
display: flex;
padding-left: 30px;
padding-right: 30px;

}
a {
  color: black;
  margin-right: 20px;
  text-decoration: none;
  
}
.button {
  padding: 20px 30px;
  background-color: #116dff;
  border: none;
  border-radius: 3px;
  color: white;
}
.footer {
  background-color: black;
  color: white;
  justify-content: space-between;
  height: 400px;
  width: auto;
}

.paragraphs {
  display: flex;
  justify-content: space-between;
}
.header-1 {
  justify-content: flex-start;
  margin-left: 30px;
  margin-right: 70px;
}
.small {
  text-align: center;
  margin-top: 70px;

}
.header-2 {
 margin-left: 30px;
 margin-top: 50px;
}
p {
  margin-top: 20px;
}
.date {
  text-align: end;
}
.first {
  justify-content: space-between;
  display:flex;
}
.header-1-2 {
  justify-content: flex-start;
 align-self: flex-start;
}
.main {
 padding-left: 30px;
 padding-right: 30px;
}
.about {
  justify-content: space-between;
  display: flex;
}
.event {
  justify-content: space-between;
  display: flex;
}
.schedule {
  background-color: #f0f6ff;
   padding-left: 30px;
 padding-right: 30px;
}
.time {
  color:#116dff
}
.first-timeline, .second-timeline {
justify-content: space-between;
  display: flex;  
  margin-top: 50px;
  margin-bottom: 50px;
}
.meet {
  padding-left: 30px;
 padding-right: 30px;
}
.speakers, .speaker-images {
  justify-content: space-between;
  display: flex;
}
.organisers {
  padding-left: 30px;
 padding-right: 30px;
 background-color: #f0f6ff;
}
.org-content {
justify-content: space-between;
  display: flex;
  
}
.logo {
  padding-left: 30px;
 padding-right: 30px;
 
}
.sponsors {
  justify-items: center;
  padding-left: 30px;
 padding-right: 30px;
}